.root {
    align-items: center;
    column-gap: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
}

.loader {
    composes: indicator from '~@magento/venia-ui/lib/components/LoadingIndicator/indicator.css';
}

.text {
    position: relative;
    left: 14px;
    top: 5px;
}

.textWrap {
    margin: 0px 20px;
}