<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('i95dev_storebanners');
$sql = $connection->select()->from(
         ["tn" => $tableName]
    );
$result = $connection->fetchAll($sql);
echo '<textarea>'.print_r($result,true).'</textarea><br>';
exit();
foreach($result as $res) {
    if($res['store']==1) {
   ?>
[mgz_pagebuilder]{"elements":[{"row_type":"full_width_row","content_position":"top","device_type":"all","background_type":"image","background_style":"auto","background_position":"center-top","parallax_speed":0.5,"mouse_parallax_size":30,"mouse_parallax_speed":10000,"lg_background_type":"image","lg_background_style":"auto","lg_background_position":"center-top","md_background_type":"image","md_background_style":"auto","md_background_position":"center-top","sm_background_type":"image","sm_background_style":"auto","sm_background_position":"center-top","xs_background_type":"image","xs_background_style":"auto","xs_background_position":"center-top","id":"k9oflg9jq0t5","type":"row","control":false,"hover":false,"hovered":false,"loading":false,"elements":[{"device_type":"all","background_type":"image","background_style":"auto","background_position":"center-top","parallax_speed":0.5,"mouse_parallax_size":30,"mouse_parallax_speed":10000,"lg_background_type":"image","lg_background_style":"auto","lg_background_position":"center-top","md_background_type":"image","md_background_style":"auto","md_background_position":"center-top","sm_background_type":"image","sm_background_style":"auto","sm_background_position":"center-top","xs_background_type":"image","xs_background_style":"auto","xs_background_position":"center-top","md_size":"","xl_offset_size":"","xl_size":"","lg_offset_size":"","lg_size":"","md_offset_size":"","sm_offset_size":"","sm_size":"","xs_size":"","id":"p52nmj36tvsl","type":"column","control":false,"hover":false,"hovered":false,"loading":false,"elements":[{"slider_height":625,"image_hover_effect":"","device_type":"all","background_type":"image","background_style":"auto","background_position":"center-top","parallax_speed":0.5,"mouse_parallax_size":30,"mouse_parallax_speed":10000,"lg_background_type":"image","lg_background_style":"auto","lg_background_position":"center-top","md_background_type":"image","md_background_style":"auto","md_background_position":"center-top","sm_background_type":"image","sm_background_style":"auto","sm_background_position":"center-top","xs_background_type":"image","xs_background_style":"auto","xs_background_position":"center-top","content_position":"middle-center","content_align":"left","heading":"This is a heading","heading_type":"h2","caption1_type":"h3","caption2_type":"h3","link_type":"full","button1":"Button1 Text","button1_style":"flat","button1_size":"lg","button1_border_style":"solid","button2_style":"flat","button2_size":"lg","button2_border_style":"solid","owl_nav":false,"owl_nav_position":"center_split","owl_nav_size":"normal","owl_dots":true,"owl_lazyload":true,"owl_loop":false,"owl_margin":"0","owl_autoplay_timeout":"5000","owl_stage_padding":0,"items":[{"background_type":"image","image":$res['image_path'],"heading":$res['banner_title']:"h2","position":1,"content_position":"middle-center","content_align":"left","heading_font_size":55,"heading_color":"#333333","caption1":$res['banner_content'],"caption1_type":"h3","caption1_font_size":15,"caption1_color":"#666666","caption2":"#NEW ARRIVALS","caption2_type":"h3","link_type":"button","button1":"SHOP NOW","button1_style":"flat","button1_size":"lg","button1_border_style":"solid","button1_font_size":21,"button1_bg_color":"#ffda00","button1_color":"#262626"}],"id":"mn43xghhp2cc","type":"slider","control":false,"hover":false,"hovered":false,"loading":false,"elements":[]}]}]}]}[/mgz_pagebuilder]
<?php
    }
}

?>