.root {
    display: block;
    gap: 1.5rem;
    justify-items: stretch;
    width: 20%;
}
.form {
    display: grid;
    row-gap: 0.9375rem;
}
.modal {
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(var(--venia-global-color-gray));
    text-align: center;
    position: absolute;
    bottom: 0;
}
.modal_active {
    visibility: visible;
    composes: modal;
    opacity: 1;
}
.buttonsContainer {
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: row;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}
.title {
    color: rgb(var(--venia-global-color-gray-900));
    font-size: var(--venia-typography-body-S-fontSize);
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.footerblockemail .content input {
    height: 45px;
    width: 100%;
    border: 1px solid #DADADA;
    border-radius: 0;
}

.footerblockemail .content input::placeholder {
    color: #767676;
    padding-left: 15px;
}

.subscribeButton {
    padding: 15px 25px;
    margin-top: 15px;
    background: #000000;
    color: #fff;
}
.footerblockemail h3 {
    font-size: 16px;
    line-height: 20px;
    font-family: Lusitana;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #000000;
    padding-bottom: 10px;
}
.footerblockemail {
    width: 100%;
    position: relative;
}
@media(max-width:767px){
    .root{
        order:1;
        width:100%;
        display: grid;
    }
    .content {
        width: 100%;
        display: grid;
    }
    .footerblockemail {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column: 1/1;
        grid-auto-flow: row;
    }
    .footerblockemail h3 {
        display: grid;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 18px;
    }
    .subscribeButton {
        padding: 13px 20px;
        margin-top: 0px;
    }
}
@media(max-width:991px) and (min-width:768px) {
    .subscribeButton{
        padding: 10px 20px;
    }
    .footerblockemail h3{
        font-size:14px;
    }
    .footerblockemail .content input{
        font-size:14px;
    }
    .footerblockemail .content input::placeholder {
        padding-left: 5px;
    }
}
