.logoImg {
    grid-area: title;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}
@media (max-width: 640px) {
    .logoImg {
        width: 70%;
        object-fit: contain;
        left: 15px;
    }
}
@media (max-width: 350px) {
    .logoImg {
        left: 10px;
    }
}
@media (min-width: 641px) and (max-width: 1023px) {
    .logoImg {
        width: 80%;
        object-fit: contain;
    }
}