.root {
    align-items: center;
    display: grid;
    /* The full height of the site header minus (box shadow height * 2). */
    height: calc(5rem - 8px);
    margin: 0px 25px;
}

.root_open {
    composes: root;

    box-shadow: 0 4px rgb(var(--venia-brand-color-1-700));
}

.trigger {
    composes: root from '~@magento/venia-ui/lib/components/clickable.css';

    height: 3rem;
    min-width: 3rem;
    z-index: 1;
}

@media (max-width: 640px) {
    .root {
        display: none;
    }
}
@media (min-width: 641px) and (max-width: 1023px) {
    .root {
        margin: 0px 20px;
    }
}
