.counter {
    top: 1rem;
    position: absolute;
    left: 2.7rem;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0 0.25rem;
    line-height: 1.25rem;
    min-width: 1.25rem;
    font-size: 0.8125rem;
}

.trigger {
    composes: root from '~@magento/venia-ui/lib/components/clickable.css';
    align-content: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    min-width: 3rem;
    position: relative;
    z-index: 1;
}

.triggerContainer {
    align-items: center;
    display: grid;
    /* The full height of the site header minus (box shadow height * 2). */
    height: calc(5rem - 8px);
    position: relative;
    right: 32px;
}

.triggerContainer_open {
    composes: triggerContainer;
    box-shadow: 0 4px rgb(var(--venia-brand-color-1-700));
}

.link {
    composes: trigger;
    display: none;
}

/*
 * Mobile-specific styles.
 */
@media (max-width: 960px) {
    .triggerContainer {
        display: none;
    }

    .link {
        display: flex;
    }
}
@media (max-width: 640px) {
    .counter {
        left: 35px;
    }
    .trigger {
        left: 15px;
    }
}
@media (max-width: 350px) {
    .trigger {
        right: 5px;
        left: unset;
    }
}
@media (min-width: 641px) and (max-width: 1023px) {
    .link {
        right: 20px;
        top: 3px;
    }
}