.root {
    background-color: rgb(var(--venia-global-color-gray-50));
    box-shadow: 0 2px rgb(var(--venia-global-color-gray-100));
    display: grid;
    grid-auto-columns: 100%;
    justify-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    --header-height: 5rem;
}

.switchersContainer {
    display: none;
}

.open {
    composes: root;
}

.closed {
    composes: root;
}

.toolbar {
    z-index: 3;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: 'primary title secondary';
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 3rem;
    justify-items: center;
    max-width: var(--venia-global-maxWidth);
    min-height: var(--venia-global-header-minHeight);
    padding: 0 0.5rem;
    width: 100%;
}

@media (min-width: 641px) {
    .switchers {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        justify-content: flex-end;
        max-width: var(--venia-global-maxWidth);
        width: 100%;
        position: relative;
        z-index: 11;
        margin: 0 auto;
    }

    .switchersContainer {
        display: block;
        width: 100%;
        background-color: rgb(var(--venia-global-color-gray-100));
    }

    .toolbar {
        grid-template-areas: 'primary title secondary';
        grid-template-columns: auto auto 1fr;
        min-height: var(--venia-global-header-minHeight);
        padding: 0 1rem;
    }
}

.logo {
    grid-area: title;
}

.primaryActions {
    grid-area: primary;
    justify-self: start;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.secondaryActions {
    grid-area: secondary;
    width: max-content;
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    align-items: center;
    justify-self: end;
}

@media (min-width: 641px) {
    .logoContainer {
        grid-column: 2/ 3;
        grid-row: 1 / 1;
    }

}

.searchFallback {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
}

.input {
    composes: input from '~@magento/venia-ui/lib/components/TextInput/textInput.css';
    max-width: 24rem;
}

.loader,
.loader:before,
.loader:after {
    --dot-size: 2em;
    --dot-font-size: 6px;
    --dot-shadow-offset: calc(-1 * var(--dot-size) + var(--dot-font-size));
    border-radius: 50%;
    width: var(--dot-size);
    height: var(--dot-size);
    animation: pulse 1.8s infinite ease-in-out;
    animation-fill-mode: both;
}

.loader {
    color: rgb(var(--venia-global-color-gray-dark));
    font-size: var(--dot-font-size);
    margin: var(--dot-shadow-offset) auto 0;
    position: relative;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    color: rgb(var(--venia-global-color-gray));
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    color: rgb(var(--venia-global-color-gray-darker));
    left: 3.5em;
}

@media (min-width: 1024px) {
    .logoContainer {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .secondaryActions {
        grid-column: 4 / 5;
        grid-row: 1 / 1;
    }

    .toolbar {
        grid-template-columns: 0.4fr 1fr 5fr 1fr;
    }
}

@keyframes pulse {
    0%,
    80%,
    100% {
        box-shadow: 0 var(--dot-size) 0 -1.3em;
    }
    40% {
        box-shadow: 0 var(--dot-size) 0 0;
    }
}

.notificationIcon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.searchBar {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    margin-top: 5px;
}
.mainLogo {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}
.megaMenuCategories {
    position: relative;
    z-index: 1;
}

@media (max-width: 640px) {
    .wishlist {
        display: none;
    }
    .toolbar {
        grid-template-columns: 45px 40px 1fr 35px;
    }
    .megaMenuCategories, .notificationIcon {
        display: none;
    }
    .searchBar {
        margin-top: 0px;
    }
}
@media (min-width: 641px) and (max-width: 1023px) {
    .megaMenuCategories, .notificationIcon {
        display: none;
    }
    .searchBar {
        margin-top: 0px;
    }
    .toolbar {
        grid-template-columns: 45px 160px 0.8fr 0.5fr;
    }
    .secondaryActions {
        grid-area: auto;
    }
}

