.root {
    border-radius: 4px;
    color: white;
    margin: 0 2rem 1rem 2rem;
    max-width: 100%;
    padding:0 2rem;
}

.slides h3 {
    font-size: 4rem;
    text-align: center;
}
.slides .custimage {
    width:100%;
}
.root .slick-next:before, .root .slick-prev:before {
    color: #000000;
}
.bancontent{
    color: #000;
    font-size: 24px;
    width: 44%;
    display: block;
    font-family: Lusitana;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 20px;
}
.slides{
    position: relative;
}
.banlink{
    color: #000;
    font-size: 16px;
    width: fit-content;
    display: block;
    background: #fff;
    padding: 12px 30px;
    border: 1px solid #000000;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
}
.bantitle{
    color: #000;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width:100%;
    padding-bottom: 12px;
}
.contentblock{
    display: block;
    position: absolute;
    top: 150px;
    left:150px;
}
@media(max-width:576px){
    .bantitle{
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 0;
    }
    .bancontent{
        width: 40%;
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 5px;
    }
    .banlink{
        font-size: 12px;
        padding: 4px 10px;
    }
    .contentblock{
        top: 5px;
        left:20px;
    }
}
@media(max-width:767px) and (min-width:577px){
    .bantitle{
        font-size: 22px;
        line-height: 30px;
    }
    .bancontent{
        width: 35%;
        font-size: 16px;
        line-height: 18px;
    }
    .banlink{
        font-size: 14px;
        padding: 5px 15px;
    }
    .contentblock{
        top: 60px;
        left:70px;
    }
}
@media(max-width:991px) and (min-width:768px){
    .bantitle{
        font-size: 24px;
        line-height: 30px;
    }
    .bancontent{
        width: 35%;
        font-size: 16px;
        line-height: 20px;
    }
    .banlink{
        font-size: 14px;
        padding: 10px 20px;
    }
    .contentblock{
        top: 60px;
        left:70px;
    }
}
@media(max-width:1199px) and (min-width:992px){
    .bantitle{
        font-size: 26px;
        line-height: 30px;
    }
    .bancontent{
        width: 35%;
        font-size: 18px;
        line-height: 22px;
    }
    .banlink{
        font-size: 14px;
        padding: 10px 20px;
    }
    .contentblock{
        top: 80px;
        left:100px;
    }
}
