.footerblock {
    width: 25%;
    position: relative;
}
.footerblock h3 {
    font-family: Lusitana;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-bottom: 10px;
}
.footerblock ul{
    list-style-type: none;
    padding: 0;
}

.footerblock ul li {
    padding: 2px 0;
    width: fit-content;
}

.footerblock ul li a {
    text-decoration: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.footersubsection{
    display: flex;
    width: 100%;
}
.footersubsection .footerblock h3 {
    margin: 0;
}
.footersubsection .footerblock ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.footersubsection .footerblock ul li{
    padding: 4px 0;
}
.desktopfooterlinkssection{
    width: 80%;
}
.mobilefooterlinkssection{
    display: none;
}
@media(max-width:767px){
    .active h3:before{
        border: 2px solid;
        border-color: rgb(var(--venia-global-color-black));
        right: 0px;
        position: absolute;
        top: 8px;
        width: 5px;
        content: " ";
        height: 5px;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(
                45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(
                45deg);
        z-index: 3;
        transition: all .3s;
    }
    .inactive h3:before{
        border: 2px solid;
        border-color: rgb(var(--venia-global-color-black));
        right: 0px;
        position: absolute;
        top: 8px;
        width: 5px;
        content: " ";
        height: 5px;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(
                45deg);
        -ms-transform: rotate(45deg);
        z-index: 3;
        transition: all .3s;
        transform: rotate(
                -135deg);
    }
    .mobilefooterlinkssection{
        order:2;
        width:100%;
        display:block;
    }
    .footersubsection{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 20px;
    }
    .footerblock {
        padding-bottom: 10px;
        width: 100%;
    }
    .footersubsection .footerblock h3{
        font-size: 20px;
    }
    .desktopfooterlinkssection{
        display:none;
    }
}
@media(max-width:991px) and (min-width:768px){
    .footerblock h3{
        font-size:16px;
    }
    .footerblock ul li a{
        font-size:13px;
    }
}