.megaMenuItem {
    padding: 0 10px;
}
.megaMenuItem:hover > div,
.megaMenuItem:focus > div {
    display: flex;
}

.megaMenuItem:hover .megaMenuLink,
.megaMenuItem:focus .megaMenuLink {
    text-decoration: underline;
}
.megaMenuLink {
    align-items: center;
    display: inline-flex;
    min-height: 5rem;
}