.menuBlock {
    margin-top: -16px;
    width: 50%;
}
:global(figure.bridalImg) {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
:global(figure.serviceImg) {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
:global(figure.bridalImg img) {
    margin-top: 0px;
}
:global(figure.serviceImg img) {
    margin-top: 0px;
}
:global(.bridalContent p) {
    margin-bottom: 5px;
    width: 65%;
    font-size: 14px;
}
:global(.serviceContent p) {
    margin-bottom: 5px;
    width: 65%;
    font-size: 14px;
}