.submenu {
    background-color: rgb(var(--venia-global-color-gray-50));
    box-shadow: 0 3px rgb(var(--venia-global-color-gray-100));
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0;
    position: absolute;
    padding: 20px 10px;
    right: 0;
    top: 100%;
}

.submenu::before {
    box-shadow: inset 0 2px rgb(var(--venia-global-color-gray-100));
    content: '';
    height: 10px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.submenuItems {
    display: flex;
    flex-wrap: unset;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--venia-global-maxWidth);
}
