:global(.bannerlist h2){
    color: #000;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width:50%;
    margin-bottom: 20px !important;
  }
:global(.bannerlist p span){
    color: #000;
    font-size: 18px;
    width: 36%;
    display: block;
    font-family: Lusitana;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 15px;
  }
:global(.bannerlist p span a){
    color: #000;
    font-size: 16px;
    width: fit-content;
    display: block;
    background: #fff;
    padding: 8px 50px;
    border: 1px solid #000000;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    text-decoration:none !important;
  }
@media(max-width: 767px){
    :global(.bannerlist h2 span){
        font-size: 18px !important;
        margin: 0 !important;
    }
    :global(.bannerlist h2){
        margin: 0 !important;
        margin-bottom: 10px !important;
        line-height: 20px;
    }
    :global(.bannerlist p span){
        font-size: 12px !important;
        width:100%;
        padding: 0;
        line-height: 16px;
    }
    :global(.bannerlist p){
        margin-bottom: 5px !important;
    }
    :global(.bannerlist p span a){
        font-size: 12px !important;
        padding: 5px 20px;
    }
    :global(.bannerlist > div > div){
        min-height: 100px !important;

    }
    :global(.bannerlist div){
        min-height: 100px !important;
        padding: 5px;
    }

}