:global(h2.benselTitle) {
  font-size: 32px;
}
:global(.benselInsideContent) {
  text-align: center;
}
:global(.benselContent:hover .benselInsideContent .benselTitleB) {
  text-decoration: underline;
}
:global(.benselContent:hover .benselInsideContent .benselTitleA) {
  text-decoration: underline;
}
:global(.benselInsideContent .benselTitleA) {
  font-size: 22px;
  text-decoration: none;
}
:global(.benselInsideContent .benselTitleB) {
  font-size: 16px;
  text-decoration: none;
}
:global(.benselInsideContent p) {
  font-size: 16px;
  line-height: 22px;
  margin-top: 12px;
}
:global(.benselContent:hover figure.benselImg picture) {
  background-color: #C7B9F3;
  border-radius: 50%;
  width: 80px;
  display: inline-block;
}
:global(.benselInsideContent p span) {
  display: block;
}
:global(figure.benselImg img) {
  display: unset;
}
.homeComponents {
  margin-top: 15px;
}

@media (max-width: 768px) {
  :global(h2.benselTitle) {
    font-size: 24px;
  }
  :global(.benselInsideContent .benselTitleA) {
    font-size: 18px;
  }
  :global(.benselInsideContent .benselTitleB) {
    font-size: 14px;
  }
  :global(.benselInsideContent p) {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  :global(h2.benselTitle) {
    font-size: 26px;
  }
  :global(.benselInsideContent .benselTitleA) {
    font-size: 17px;
  }
  :global(.benselInsideContent .benselTitleB) {
    font-size: 14px;
  }
  :global(.benselInsideContent p) {
    font-size: 13px;
  }
  :global(.benselInsideContent p span) {
    display: unset;
  }
  :global(.benselContent) {
    padding: 0px 5px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  :global(h2.benselTitle) {
    font-size: 28px;
  }
  :global(.benselInsideContent .benselTitleA) {
    font-size: 20px;
  }
  :global(.benselInsideContent .benselTitleB) {
    font-size: 15px;
  }
  :global(.benselInsideContent p) {
    font-size: 15px;
  }
}