:global(.dreambig-section .content-section .header p span){
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    display: flex;
    align-items: center;
    width: 60%;
    text-transform: uppercase;
    line-height: 18px;
}
:global(.dreambig-section .content-section .header p){
    margin-bottom: 5px;
}
:global(.dreambig-section .content-section .header){
    padding-bottom:10px;
}
:global(.dreambig-section .content-section p){
    padding-bottom:10px;
}
:global(.dreambig-section .content p span){
    font-family: 'Lusitana';
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    width: 68%;
    padding-bottom: 10px;
}
:global(.dreambig-section .content-section button){
    background:none !important;
    color:#000;
    text-transform: capitalize;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
    border: 1px solid #c7c3c3;
}
:global(.dreambig-section .content p){
    margin-bottom: 5px;
}
:global(.dreambig-section .image-section figure){
    margin-top: 0;
    margin-bottom: 0;
}
:global(.dreambig-section .image-section figure img){
    margin:0 auto;
}

@media(max-width: 769px){
    :global(.dreambig-section .content-section button){
        font-size: 14px;
    }
    :global(.dreambig-section .content-section .header p span){
        width: 100%;
        font-size: 20px !important;
        line-height: 5px;
        text-align: center;
        display: block;
    }
    :global(.dreambig-section .content p span){
        width: 100%;
        font-size: 16px !important;
        text-align: center;
    }
    :global(.button-section) {
        text-align: center;
    }
}
@media(max-width: 991px) and (min-width: 768px){
    :global(.dreambig-section .content-section button){
        font-size: 16px;
    }
    :global(.dreambig-section .content-section .header p span){
        font-size: 24px !important;
        width: 100%;
        line-height: 10px;
    }
    :global(.dreambig-section .content p span){
        font-size: 18px !important;
        width: 100%;
    }
    :global(.content-section){
        padding-top: 20px;
    }
}
@media(max-width: 1199px) and (min-width: 992px){
    :global(.dreambig-section .content-section .header p span){
        font-size: 28px !important;
        width: 100%;
        line-height: 15px;
    }
    :global(.dreambig-section .content p span){
        font-size: 18px !important;
        width: 80%;
    }
}