:global(.mybensel-section){
    width: 100%;
}
:global(.mybensel-section .content-section h2) {
    margin: 10px 0;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    display: block;
    text-transform: uppercase;
    margin-top: 0;
}
:global(.mybensel-section .content-section p) {
    margin:0;
    font-family: Lusitana;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
}
:global(.mybensel-section .image-section figure){
    margin:10px;
}
:global(.mybensel-section .image-section figure img){
    margin:0 auto;
}
@media(max-width: 769px){
    :global(.mybensel-section .content-section h2){
        font-size: 20px;
        margin:0;
    }
    :global(.mybensel-section .content-section p){
        font-size: 16px;
    }
}
@media(max-width: 991px) and (min-width: 768px){
    :global(.mybensel-section .content-section h2){
        font-size: 24px;
    }
    :global(.mybensel-section .content-section p){
        font-size: 18px;
    }
}
@media(max-width: 1199px) and (min-width: 992px){
    :global(.mybensel-section .content-section h2){
        font-size: 28px;
    }
    :global(.mybensel-section .content-section p){
        font-size: 18px;
    }
}