:global(h2.categoryTitle) {
    margin-bottom: 15px;
    font-size: 32px;
}
:global(.categoryContent:hover) {
    background-color: #F1EDFE;
}
:global(figure.categoryImg) {
    margin-bottom: 0px;
}
:global(figure.categoryImg img) {
    margin-bottom: 0px;
    display: unset;
}
:global(.categoryContent > div) {
    position: relative;
    bottom: 20px;
}
:global(.categoryContent > div a) {
    text-decoration: none;
    font-size: 22px;
}
:global(.categoryContent:hover > div a) {
    text-decoration: underline;
}
:global(.categoryContent2) {
    margin: 0px 15px;
}
:global(.categoryContent5) {
    margin: 0px 15px;
}

@media (max-width: 768px) {
    :global(.categoryContent > div a) {
        font-size: 18px;
    }
    :global(h2.categoryTitle) {
        font-size: 24px;
    }
    :global(.categoryContent2) {
        margin: 0px;
    }
    :global(.categoryContent5) {
        margin: 0px;
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    :global(.categoryContent > div a) {
        font-size: 19px;
    }
    :global(h2.categoryTitle) {
        font-size: 26px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    :global(.categoryContent > div a) {
        font-size: 20px;
    }
    :global(h2.categoryTitle) {
        font-size: 28px;
    }
}