.root {
    border-top: 2px solid rgb(var(--venia-global-color-gray-100));
    color: rgb(var(--venia-global-color-gray-700));
    display: grid;
    font-size: var(--venia-typography-body-S-fontSize);
    grid-template-areas:
        'links'
        'brand';
    grid-template-columns: 100%;
    line-height: var(--venia-global-lineHeight-300);
    margin: 0 auto;
    max-width: var(--venia-global-maxWidth);
    min-height: 15rem;
    row-gap: 2rem;
    width: 100%;
    background: #DDD7F2;
    padding: 0 40px;
    padding-top: 4rem;
}

@media (max-width: 960px) {
    .root {
        grid-template-areas: 'links' 'brand';
        max-width: 960px;
    }
}

.links {
    display: grid;
    gap: 2rem;
    grid-area: links;
    grid-auto-columns: 12rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1.5fr) 3fr;
    padding: 0 2rem;
}

@media (max-width: 960px) {
    .links {
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
}

.linkGroup {
    align-content: start;
    display: grid;
    gap: 1em;
}

.linkItem:first-child {
    color: rgb(var(--venia-global-color-gray-900));
    font-weight: 600;
}

.callout {
    font-size: var(--venia-typography-body-S-fontSize);
    justify-self: center;
    line-height: 50px;
    max-width: 16rem;
    min-width: 12rem;
}
.callout div{
    display:flex;
    width: 50%;
}
.footerblock2{
    display: flex;
}
@media (max-width: 960px) {
    .callout {
        justify-self: start;
    }
}

.calloutHeading {
    color: rgb(var(--venia-global-color-gray-900));
    font-size: var(--venia-typography-body-S-fontSize);
    font-weight: 600;
}

.calloutBody {
    margin: 1rem 0;
}

.socialLinks {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: start;
}

.branding {
    align-items: center;
    border-top: 2px solid rgb(var(--venia-global-color-gray-100));
    display: grid;
    grid-area: brand;
    grid-auto-flow: column;
    grid-template-areas: 'a b c';
    grid-template-columns: minmax(200px, 1fr) auto minmax(200px, 1fr);
    height: 4rem;
    justify-self: center;
    padding: 0 1.5rem;
    width: 100%;
}

@media (max-width: 960px) {
    .branding {
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-areas: 'c' 'b' 'a';
        grid-template-columns: auto;
        height: auto;
        justify-items: center;
        padding: 2.5rem 2rem 4rem;
        text-align: center;
    }
}

.legal {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-area: c;
    grid-auto-flow: column;
    justify-content: end;
}

@media (max-width: 960px) {
    .legal {
        justify-content: center;
    }
}

.copyright {
    grid-area: b;
    text-align: center;
}

.logo {
    grid-area: a;
}

@media (max-width: 960px) {
    .logo {
        margin-top: 2.5rem;
    }
}
.footerblock {
    width: 20%;
    position: relative;
}
.footerblockemail {
    width: 20%;
    position: relative;
}
.footersection {
    display: flex;
}
.footerblock h3 {
    font-family: Lusitana;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-bottom: 10px;
}
.footerblockemail h3 {
    font-size: 16px;
    line-height: 20px;
    font-family: Lusitana;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #000000;
    padding-bottom: 10px;
}
.footerblock ul{
    list-style-type: none;
    padding: 0;
}

.footerblock ul li {
    padding: 2px 0;
    width: fit-content;
}

.footerblock ul li a {
    text-decoration: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}


.footerblockemail .content input {
    height: 45px;
    width: 100%;
    border: 1px solid #DADADA;
}

.footerblockemail .content input::placeholder {
    color: #767676;
    padding-left: 15px;
}

.subscribeButton {
    padding: 15px 25px;
    margin-top: 15px;
    background: #000000;
    color: #fff;
}
.footersectionpartner {
    display: flex;
    height: 50px;
}
.footerlogosection {
    display: flex;
    width: 80%;
}
.footerlogosection div {
    width: 10%;
}
.copyrightsection{
    display: flex;
    width: 100%;
    padding: 15px 0;
}
.copyrights{
    display: flex;
    width: 80%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}
.copyright{
    display: flex;
    width: 40%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    text-align: left;
}
:global(.copyrightlinks){
    display:flex;
}
:global(.copyrightlinks ul li a) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    padding-right: 9px;
}
:global(.copyrightlinks ul){
    display: flex;
    list-style-type: none !important;
    padding: 0 !important;
}
:global(.copyrightlinks ul li){
    padding: 0 !important;
}
@media(max-width:767px){
    .footersection{
        display:grid;
    }
    .footersectionpartner{
        display: grid;
        grid-column: 1/1;
        grid-auto-flow: row;
        justify-content: center;
    }
    ul.socialLinks {
        justify-content: center;
    }

    .copyrightsection {
        display: grid;
        text-align: center;
        justify-content: center;
    }
    .copyrights {
        order: 2;
        display: grid;
        width: 100%;
    }
    :global(.copyrightlinks) {
        justify-content: center;
    }

    p.copyright{
        width: 100%;
        line-height: 20px;
        display: block;
        text-align: center;
    }
    .callout {
        display: grid;
        grid-auto-columns: 100%;
        width: 100%;
    }
    .footerlogosection {
        display: grid;
        width: 100%;
        grid-template-columns: 90px 90px 90px;
        height: 50px;
    }
}
@media(max-width:991px) and (min-width:768px){
    .copyrights{
        width:60%
    }
    .copyright{
        width:100%;
    }
    .footerlogosection{
        width:60%
    }
    .footerlogosection div{
        width: 25%;
    }
    .copyrightsection{
        padding:0;
    }
    .callout{
        line-height:60px;
    }
}
@media(max-width:1199px) and (min-width:992px){
    .copyrights{
        width: 70%;
    }
    .copyright{
        width:100%;
    }
    .footerlogosection{
        width: 70%;
    }
    .footerlogosection div{
        width: 20%;
    }
    .copyrightsection{
        padding:0;
    }
    .callout{
        line-height:60px;
    }
}